{% extends "base.html" %}
{% block page_tag %}{{ page_name }}{% endblock %}
{% block content %}
<form id="form" action="{{ edit_uri }}" method="post" class="pad">
	<input name="action" type="hidden" value="edit-page"/>
	
	<span class="btn-group pad">
		<input type="submit" class="btn btn-default" value="Save"/>
		<input id="delete-btn" type="submit" class="btn btn-default" value="Delete"/>
		<input id="changet-btn" type="button" class="btn btn-default" value="Change Template"/>
	</span>
	<div class="form-group">
	    <label for="name-input">Page Name</label>
		<input type="text" name="page-name" class="form-control" placeholder="Page Name" value="{{ page_name }}">
	</div>
	<div class="form-group">
	    <label for="template-name">Page Template</label>
		<input name="original-template" type="hidden" value="{{ active_page_template }}"/>
		<select name="page-template" class="form-control">
			{% for pt in page_templates %}<option value="{{ pt }}" {% if pt == active_page_template %}selected{% endif %}>{{ pt }}</option>
			{% endfor %}
		</select>
	</div>
<div class="help-block">
</div>
<div class="row">
{% for input in page_context_str %}
	<div class="col-md-6 context-item">
		<div class="context-item-title">{{ input.name }} ({{ input.type }})</div>
		<textarea name="{{ input.name }}" class="form-control context-input" rows="3">{{ input.value }}</textarea>
	</div>
{% endfor %}
</div>
<div class="context-input">
{% for input in page_context_other %}
	<div class="context-item">
		<div class="context-item-title">{{ input.name }}</div>
		<select name="contype-{{ input.name }}" class="form-control pad max-width-input">
			{% for f in other_formats %}<option value="{{ f }}" {% if f == input.type %}selected{% endif %}>{{ f }}</option>
			<!-- f: {{f}}, type: {{ input.type}} -->
			{% endfor %}
		</select>
		<div id="ace_editor_{{ input.name }}" format-type-input="contype-{{ input.name }}" class="ace-editor context-input" tb_name="{{ input.name }}">{{ input.value }}</div>
		<input type="hidden" name="{{ input.name }}" value="empty"/>
	</div>
{% endfor %}
</div>
</form>
<div id="blank" style="display:none"></div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ static_uri }}ace_modes/ace.js"></script>
<script src="{{ static_uri }}ace_modes/mode-markdown.js"></script>
<script src="{{ static_uri }}ace_modes/mode-html.js"></script>
<script>
	var delete_action = 'delete-page';
</script>
<script src="{{ static_uri }}editor.js"></script>
{% endblock %}