{% extends "base.html" %}
{% block page_tag %}{{ template_name }}{% endblock %}
{% block content %}
<form id="form" action="{{ edit_uri }}" method="post" class="pad">
	<input name="action" type="hidden" value="edit-template"/>
	<input name="template-text" type="hidden" value="empty"/>
	
	<div class="input-group">
  	  <span class="input-group-btn">
		  <input type="submit" class="btn btn-default" value="Save"/>
		  <input id="delete-btn" type="submit" class="btn btn-default" value="Delete"/>
	  </span>
	  <input type="text" name="template-name" id="name-input" class="form-control" placeholder="Template Filename" value="{{ template_name }}">
	</div>
</form>
<div class="help-block">
<p>Template names should contain <span class="code">.template.</span> in their name, eg. <span class="code">my_template.template.html</span>.</p>
<p>Templates are rendered using <a href="http://jinja.pocoo.org/docs/">Jinja2</a> which is a "Django like" template engine. See their site for Documentation.</p>
</div>
<div id="editor" class="pad">{{ template }}</div>
<div id="blank" style="display:none"></div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ static_uri }}ace.js"></script>
<script src="{{ static_uri }}ace_modes/mode-html.js"></script>
<script>
	var editor = ace.edit('editor');
	var mode = require('ace/mode/html').Mode;
	editor.getSession().setMode(new mode());
	editor.setShowPrintMargin(false);
	editor.getSession().setUseWrapMode(true);
	
	$('#delete-btn').click(function(){
		$('[name="action"]').val('delete-template');
	});
	
	$('#form').on('submit', function(){
		var escaped_text = $('#blank').text(editor.getValue()).html();
		$('[name="template-text"]').val(escaped_text);
	});
</script>
{% endblock %}