{% extends "base.html" %}
{% block page_tag %}{{ file_name }}{% endblock %}
{% block content %}
<form id="form" action="{{ edit_uri }}" method="post" class="pad">
	<input name="action" type="hidden" value="{{ action }}"/>
	<input name="file-text" type="hidden" value="empty"/>
    <input name="previous-file-name" type="hidden" value="{{ file_name }}">
    <input name="file-type" type="hidden" value="{{ file_type }}">
	
	<div class="input-group">
  	  <span class="input-group-btn">
		  <input type="submit" class="btn btn-default" value="Save"/>
		  <input id="delete-btn" type="submit" class="btn btn-default" value="Delete"/>
	  </span>
	  <input type="text" name="file-name" id="name-input" class="form-control max-width-input" placeholder="File Filename" value="{{ file_name }}">
	</div>
</form>
<div class="help-block">
	{{ help_statement|safe }}
</div>
{% if file_type %}
<div class="pad">File Type: <strong>{{ file_type }}</strong></div>
{% endif %}

{% if file_text or new_file %}
<div id="editor" tb_name="file-text" class="pad">{{ file_text }}</div>
{% endif %}
{% if file_image_path %}
<img class="pad" src="{{ file_image_path }}" alt="{{ file_image_path }}">
{% endif %}
{% if font_path %}
<div class="pad" style="font-family: '{{ font_name }}';src: url({{ font_path }});font-size: 30px">Grumpy wizards make toxic brew for the evil Queen and Jack.</div>
{% endif %}
<div id="blank" style="display:none"></div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ static_uri }}ace_modes/ace.js"></script>
<script src="{{ static_uri }}ace_modes/mode-html.js"></script>
<script src="{{ static_uri }}ace_modes/mode-markdown.js"></script>
<script src="{{ static_uri }}ace_modes/mode-javascript.js"></script>
<script src="{{ static_uri }}ace_modes/mode-json.js"></script>
<script src="{{ static_uri }}ace_modes/mode-css.js"></script>
<script>
	var delete_action = '{{ delete_action }}';
	// $('#delete-btn').click(function(){
		// $('[name="action"]').val('{{ delete_action }}');
	// });
	// var editor;
	// if ($('#editor').length > 0){
		// setup_editor();
		// $('[name="file-name"]').change(setup_editor);
		// $('#form').on('submit', function(){
			// var escaped_text = $('#blank').text(editor.getValue()).html();
			// $('[name="file-text"]').val(escaped_text);
		// });
	// }
// 	
	// function setup_editor(){
		// editor = ace.edit('editor');
		// var ext = $('[name="file-name"]').val().split('.').pop();
		// if (ext == '')
			// return;
		// var formats = ['html', 'js', 'json', 'css'];
		// if ($.inArray(ext, formats) != -1){
			// if (ext == 'js')
				// ext = 'javascript';
			// var mode = require('ace/mode/' + ext).Mode;
			// editor.getSession().setMode(new mode());
		// }
		// editor.setShowPrintMargin(false);
		// editor.getSession().setUseWrapMode(true);
	// }
</script>
<script src="{{ static_uri }}editor.js"></script>
{% endblock %}