body {
  padding: 0px;
  overflow-y: scroll;
  background-color: #ddd;
}

p {
	margin: 0 0 5px;
}

h1 a:link, h1 a:visited, h1 a:hover, h1 a:active{
	color: black;
	text-decoration: none;
}
.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	border: 0px;
}

.navbar-inverse .navbar-brand.no-link:hover{
	color: #999;
}

.container.main{
	padding-bottom: 10px;
	background-color: white;
	padding-top: 10px;
}

#footer {
	margin-top: 20px;
	text-align: right;
}
#footer a {
	color: black;
	text-decoration: none !important;
}

.pad{
	margin-bottom: 5px;
}

.form-group {
	margin-bottom: 10px;
}

#editor, .ace-editor{
	height: 600px;
	font-size: 14px !important;
	border: 1px solid #bbb;
	border-radius: 8px;
}

.ace-editor{
	height: 300px;
}

.max-width-input {
	max-width: 300px;
}

.code{
	padding: 2px 4px;
	margin: 0 5px;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.context-item-title{
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	padding-bottom: 5px;
}

.context-item {
	padding-top: 10px;
}

.ace_search {
	max-width: 330px !important;
}

.divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #ccc;
}

.page-header {
	margin: 10px 0 10px;
}

.alert>p+p {
	margin-top: 0px;
}

#tree {
	font-weight: 700;
}

#tree .item {
	min-height: 8px;
}

#tree .name {
	color: #888;
}

#tree .eq {
	margin: 0px 2px;
}

#tree .value {
	color: red;
}
