<!DOCTYPE html>
<html lang="en">
  <head>
	{% block head %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>{{title}}</title>
		<link rel="icon" type="image/png" href="{{ static_uri }}favicon.png" />
		<link rel="stylesheet" href="{{ static_uri }}libs/bootstrap.min.css">
		<link rel="stylesheet" href="{{ static_uri }}editor_styles.css">
	{% endblock head %}
  </head>
  <body>
  	<div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ edit_uri }}">{{ site_title }}</a>
        </div>
        <div class="navbar-collapse collapse">
          {# <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul> #}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="user">{{ username }}</a></li>
            <li><a href="logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    
      	<div class="page-header">
	        <h3>{% block page_tag %}{% endblock %}</h3>
	        <div>{% block page_comment %}{% endblock %}</div>
	    </div>
	    <div id="msgs">
		    {% if success %}
			<div class="alert alert-success">
				{% for s in success %} <p> {{s}} </p> {% endfor %}
			</div>
			{% else %} <div class="alert alert-success" style="display:none"></div>
			{% endif %}
		    
			{% if info %}
			<div class="alert alert-info">
				{% for info_i in info %} <p> {{ info_i | safe }} </p> {% endfor %}
			</div>
			{% else %} <div class="alert alert-info" style="display:none"></div>
			{% endif %}
			
			{% if errors %}
			<div class="alert alert-danger">
				{% for error in errors %} <p> {{error}} </p> {% endfor %}
			</div>
			{% else %} <div class="alert alert-danger" style="display:none"></div>
			{% endif %}
			
			{% if warnings %}
			<div class="alert alert-warning">
				{% for warning in warnings %} <p> {{warning}} </p> {% endfor %}
			</div>
			{% else %} <div class="alert alert-warning" style="display:none"></div>
			{% endif %}
		</div>
	  	{% block content %}Content not defined.{% endblock %}
	</div>
	{% block js %}
  	<script src="{{ static_uri }}libs/jquery.min.js"></script>
  	<script src="{{ static_uri }}libs/bootstrap.min.js"></script>
  	<script src="{{ static_uri }}libs/bootbox.min.js"></script>
  	{% endblock %}
  </body>
</html>
