{% extends "base.html" %}
{% block page_tag %}{{ file_name }}{% endblock %}

{% block head %}
	{{ super() }}
	{% if save_gen_func %}
	<style>
		#msgs {
			min-height: 33px;
			margin-bottom: 20px;
		}
		.alert-success {
			padding: 5px 15px;
		}
	</style>
	{% endif %}
{% endblock head %}
{% block content %}
<form id="form" action="{{ edit_uri }}" method="post" class="pad">
	<input name="function" type="hidden" value="{{ function }}"/>
	<input name="file-text" type="hidden" value="empty"/>
    <input name="previous-file-id" type="hidden" value="{{ file_id }}">
    <input name="file-type" type="hidden" value="{{ file_type }}">
	
	<div class="form-group btn-group">
		{% if save_gen_func %}
	  		<input id="fajax" type="button" class="btn btn-default save_shortcut" save_gen_func="{{ save_gen_func }}" value="Save &amp; Generate Site"/>
	    {% endif %}
		<input type="submit" class="btn btn-default {% if not save_gen_func %}save_shortcut{% endif %}" altfunction="{{ function }}" value="Save &amp; Exit"/>
		<input altfunction="{{ delete_action }}" type="submit" class="btn btn-default" value="Delete"/>
	</div>
	
	<div class="row">
	  <div class="col-lg-6 form-group">
	  	<div class="input-group">
		  <span class="input-group-addon">Name</span>
	  	<input type="text" name="file-name" id="name-input" class="form-control" 
	  		placeholder="File Filename" value="{{ file_name }}" required {% if fname_readonly %}readonly{% endif %}>
		</div>
	  </div>
	  <div class="col-lg-6 form-group">
	  	<div class="input-group">
		  <span class="input-group-addon">Repo</span>
			<select name="repo" class="form-control" {% if active_repo %}readonly{% endif %}>
			  {% for repo in repos %}<option value="{{ repo }}" {% if repo == active_repo %}selected{% endif %}>{{ repo }}</option>
			  {% endfor %}
			</select>
		</div>
	  </div>
	</div>
</form>
<div class="help-block">
	{{ help_statement|safe }}
</div>
{% if file_type %}
<div class="pad">File Type: <strong>{{ file_type }}</strong></div>
{% endif %}

{% if show_file_text %}
<div id="editor" tb_name="file-text" class="pad" style="display:none;">{{ file_text }}</div>
{% endif %}
{% if file_image_path %}
<img class="pad" src="{{ file_image_path }}" alt="{{ file_image_path }}">
{% endif %}
{% if font_path %}
<div class="pad" style="font-family: '{{ font_name }}';src: url({{ font_path }});font-size: 30px">Grumpy wizards make toxic brew for the evil Queen and Jack.</div>
{% endif %}
<div id="blank" style="display:none"></div>
{% if global_variables %}
<div class="panel panel-default">
  <div class="panel-heading"> <h3 class="panel-title">Global Variables</h3> </div>
  <div class="panel-body">
	<div id="tree">
		{% for var in global_variables %}
		<div class="item"><span class="name" {% if var.indent %}style="margin-left:{{var.indent}}px"{% endif %}>
			{{ var.name }}
			</span>
			{% if var.value %}
				<span class="eq"> = </span>
				<span class="value">
					{{ var.value }}
				</span>
			{% endif %}
			</div>
		{% endfor %}
	</div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ static_uri }}libs/jquery.form.min.js"></script>
<script src="{{ static_uri }}libs/mousetrap.min.js"></script>
<script src="{{ static_uri }}libs/ace/ace.js"></script>
<script src="{{ static_uri }}libs/ace/ext-modelist.js"></script>
<script>
	var json_submit_url = '{{ json_submit_url }}';
</script>
<script src="{{ static_uri }}editor.js"></script>
{% endblock %}