{% extends "base.html" %}
{% block page_tag %}{{ file_name }}{% endblock %}
{% block content %}
<form id="form" action="{{ edit_uri }}" method="post" class="pad">
	<input name="function" type="hidden" value="{{ function }}"/>
	<input name="file-text" type="hidden" value="empty"/>
    <input name="previous-file-id" type="hidden" value="{{ file_id }}">
    <input name="file-type" type="hidden" value="{{ file_type }}">
	
	<div class="form-group btn-group">
	  <input type="submit" class="btn btn-default" value="Save"/>
	  <input altfunction="{{ delete_action }}" type="submit" class="btn btn-default" value="Delete"/>
	</div>
	
	<div class="row">
	  <div class="col-lg-6 form-group">
	  	<div class="input-group">
		  <span class="input-group-addon">Name</span>
	  	<input type="text" name="file-name" id="name-input" class="form-control" 
	  		placeholder="File Filename" value="{{ file_name }}" required {% if fname_readonly %}readonly{% endif %}>
		</div>
	  </div>
	  <div class="col-lg-6 form-group">
	  	<div class="input-group">
		  <span class="input-group-addon">Repo</span>
			<select name="repo" class="form-control" {% if active_repo %}readonly{% endif %}>
			  {% for repo in repos %}<option value="{{ repo }}" {% if repo == active_repo %}selected{% endif %}>{{ repo }}</option>
			  {% endfor %}
			</select>
		</div>
	  </div>
	</div>
</form>
<div class="help-block">
	{{ help_statement|safe }}
</div>
{% if file_type %}
<div class="pad">File Type: <strong>{{ file_type }}</strong></div>
{% endif %}

{% if file_text or new_file %}
<div id="editor" tb_name="file-text" class="pad" style="display:none;">{{ file_text }}</div>
{% endif %}
{% if file_image_path %}
<img class="pad" src="{{ file_image_path }}" alt="{{ file_image_path }}">
{% endif %}
{% if font_path %}
<div class="pad" style="font-family: '{{ font_name }}';src: url({{ font_path }});font-size: 30px">Grumpy wizards make toxic brew for the evil Queen and Jack.</div>
{% endif %}
<div id="blank" style="display:none"></div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ static_uri }}libs/ace/ace.js"></script>
<script src="{{ static_uri }}libs/ace/ext-modelist.js"></script>
<script src="{{ static_uri }}editor.js"></script>
{% endblock %}