{% extends "base.html" %}
{% block page_tag %}{{ page_name }}{% endblock %}
{% block content %}
<form id="form" action="{{ action_uri }}" method="post" class="pad">
	<input name="function" type="hidden" value="edit-page"/>
	
	<span class="btn-group pad">
		<input type="submit" class="btn btn-default save_shortcut" value="Save"/>
		<input altfunction="delete-page" type="submit" class="btn btn-default" value="Delete"/>
	</span>
	
	<div class="row">
	  <div class="col-lg-4 form-group">
	  	<div class="input-group">
		  <span class="input-group-addon">Page Name</span>
	  	  <input type="text" name="page-name" class="form-control" placeholder="Page Name" value="{{ page_name }}" required>
		</div>
	  </div>
	  <div class="col-lg-4 form-group">
	  	<div class="input-group">
		  <span class="input-group-addon">Page Template</span>
		  <input name="original-template-id" type="hidden" value="{{ active_page_template_id }}"/>
		  <select name="page-template-id" class="form-control {%if active_page_template_id %}warn-change{% endif %}">
			{% for pt in page_templates %}<option value="{{ pt.id }}" {% if pt.id == active_page_template_id %}selected{% endif %}>{{ pt.display }}</option>
			{% endfor %}
		  </select>
		</div>
	  </div>
	  <div class="col-lg-4 form-group">
	  	<div class="input-group">
		  <span class="input-group-addon">Repo</span>
			<select name="repo" class="form-control">
			  {% for repo in repos %}<option value="{{ repo }}" {% if repo == active_repo %}selected{% endif %}>{{ repo }}</option>
			  {% endfor %}
			</select>
		</div>
	  </div>
	  <div class="col-lg-4 form-group">
	  	<div class="input-group">
		  <span class="input-group-addon">Extension</span>
	  	  <input type="text" name="extension" class="form-control" placeholder="Leave Blank for HTML" value="{{ extension }}">
		</div>
	  </div>
	  <div class="col-lg-4 form-group">
	  	<div class="input-group">
		  <span class="input-group-addon">Sitemap Priority</span>
	  	  <input type="text" name="sitemap" class="form-control" placeholder="Leave blank to exclude" value="{{ sitemap }}">
		</div>
	  </div>
	</div>
	
	<div class="help-block">
	</div>
	<div class="divider"></div>
	
	
	<div class="row">
	{% for input in page_context_str %}
		<div class="col-md-6 context-item">
			<div class="context-item-title">{{ input.name }} ({{ input.type }})</div>
		    <div class="checkbox">
		    	<label><input id="override_{{ input.name }}" type="checkbox" class="override-context"
		    	 custom-field="{{ input.name }}" {% if input.override %}checked{% endif %}>
		    	 	Override Global {% if input.global_var %}<strong>(Global Variable Defined)</strong>{% endif %}
		    	 </label>
		    </div>
		    <input type="hidden" id="hidden_{{ input.name }}" value="{{ input.value }}">
			<textarea id="value_{{ input.name }}" name="{{ input.name }}" class="form-control context-input" rows="3">{{ input.value }}</textarea>
		</div>
	{% endfor %}
	</div>
	<div class="context-input">
	{% for input in page_context_other %}
		<div class="context-item">
			<div class="context-item-title">{{ input.name }}</div>
			<select name="contype-{{ input.name }}" class="form-control pad max-width-input">
				{% for f in other_formats %}<option value="{{ f }}" {% if f == input.type %}selected{% endif %}>{{ f }}</option>
				{% endfor %}
			</select>
			<div id="ace_editor_{{ input.name }}" style="display:none;" format-type-input="contype-{{ input.name }}" class="ace-editor context-input" tb_name="{{ input.name }}">{{ input.value }}</div>
			<input type="hidden" name="{{ input.name }}" value="empty"/>
		</div>
	{% endfor %}
	</div>
</form>
<div id="blank" style="display:none"></div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ static_uri }}libs/mousetrap.min.js"></script>
<script src="{{ static_uri }}libs/ace/ace.js"></script>
<script src="{{ static_uri }}libs/ace/ext-modelist.js"></script>
<script src="{{ static_uri }}editor.js"></script>
{% endblock %}