{% extends "base.html" %}
{% block page_tag %}{{ page_tag }}{% endblock %}
{% block content %}
<form id="form" action="{{ action_uri }}" method="post" class="pad">
	<input name="function" type="hidden" value="edit-user"/>
    <input name="previous-username" type="hidden" value="{{ edit_username }}">
	
	<div class="form-group">
		<div class="btn-group">
		  <input type="submit" class="btn btn-default" value="Save"/>
		  {% if existing_user %}
		  	<input altfunction="email-pword-user" type="submit" class="btn btn-default" value="Reset & Email Password"/>
		  	<a type="submit" class="btn btn-default" href="{{ password_uri }}">Change Password</a>
		  	<input altfunction="delete-user" type="submit" class="btn btn-default" value="Delete"/>
		  {% endif %}
		</div>
	</div>
	
	<div class="row">
	  <div class="col-lg-6 form-group">
	  	<div class="input-group">
		  <span class="input-group-addon">@</span>
		  <input type="email" class="form-control" name="email" placeholder="Email" value="{{ edit_email }}" required>
		</div>
	  </div>
	  <div class="col-lg-6 form-group">
	  	<div class="input-group">
		  <span class="input-group-addon">Username</span>
	  	  <input type="username" class="form-control" name="username" placeholder="Username" value="{{ edit_username }}" required>
		</div>
	  </div>
	</div>
  	{% if admin %}
	<div class="checkbox">
		<label>
			<input type="checkbox" name="admin" {% if is_admin %}checked{% endif %}> User Admin
		</label>
	</div>
	{% endif %}
</form>

{% if user_details %}
<h4>User Details:</h4>
<dl class="dl-horizontal">
	{% for detail in user_details %}
		<dt>{{ detail.name }}</dt>
  		<dd>{{ detail.value }}</dd>
  	{% endfor %}
</dl>
{% endif %}
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ static_uri }}editor.js"></script>
{% endblock %}