{% extends "base.html" %}
{% block page_tag %}Site Editor{% endblock %}
{% block page_comment %}Edit, add and delete templates, pages and static files.{% endblock %}
{% block content %}
<form action="" method="post">
	<input name="function" type="hidden" value="generate-site"/>
	<div class="btn-group">
	  <button class="btn btn-primary">Generate Site</button>
	  <button type="submit" class="btn btn-primary" altfunction="clear-download-libs"> Clear &amp; Download Libraries</button>
	  <button type="submit" class="btn btn-primary" altfunction="repos-zip"> Generate Repos Zip </button>
	  <button type="submit" class="btn btn-primary" altfunction="site-zip"> Generate Site Zip </button>
	  <a class="btn btn-primary" href="{{ site_uri }}">Go to {{ site_name }}</a>
	</div>
</form>
<div class="row">
  
  <!-- Pages -->
  <div class="col-md-4">
  	<h3>Pages</h3>
  	<div class="pad">
	<a href="add-page" class="btn btn-default">Add Page</a>
	</div>
	<div class="list-group">
		{% for item in pages %}
	  		<a href="{{item.link}}" class="list-group-item ">{{item.name}}</a>
	  	{% endfor %}
	</div>
  </div>
  
  <!-- Templates -->
  <div class="col-md-4">
  	<h3>Templates</h3>
  	<div class="pad btn-group">
		<a href="add-template" class="btn btn-default">Add Template</a>
		<button class="btn btn-default upload-modal-btn" upload_action="upload-template">Upload Templates</button>
	</div>
	<div class="list-group">
		{% for item in templates %}
	  		<a href="{{item.link}}" class="list-group-item">{{item.name}}</a>
	  	{% endfor %}
	</div>
  </div>
  
  <!-- Static Files -->
  <div class="col-md-4">
  	<h3>Static Files</h3>
  	<div class="pad btn-group">
		<a href="add-static" class="btn btn-default">Add Static File</a>
		<button class="btn btn-default upload-modal-btn" upload_action="upload-static">Upload Static Files</button>
	</div>
	<div class="list-group">
		{% for item in static_files %}
	  		<a href="{{item.link}}" class="list-group-item">{{item.name}}</a>
	  	{% endfor %}
	</div>
  </div>
</div>
<div class="row">
  
  <!-- Library Files -->
  <div class="col-md-4">
  	<h3>External Libraries</h3>
  	<div class="pad btn-group">
		<a href="add-libfile" class="btn btn-default">Add Library Config</a>
	</div>
	<div class="list-group">
		{% for item in library_files %}
	  		<a href="{{item.link}}" class="list-group-item">{{item.name}}</a>
	  	{% endfor %}
	</div>
  </div>
  
  <!-- Global Context -->
  <div class="col-md-4">
  	<h3>Global Context</h3>
  	<div class="pad btn-group">
		<a href="add-globcon" class="btn btn-default">Add Global Context</a>
	</div>
	<div class="list-group">
		{% for item in globcon_files %}
	  		<a href="{{item.link}}" class="list-group-item">{{item.name}}</a>
	  	{% endfor %}
	</div>
  </div>
  
  <!-- Repos -->
  <div class="col-md-4">
  	<h3>Repos</h3>
  	<div class="pad btn-group">
		<button class="btn btn-default" data-toggle="modal" data-target="#repo-modal">Add Repo</button>
	</div>
	<div class="modal fade" id="repo-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
	  <div class="modal-dialog">
	    <form class="modal-content" action="{{ edit_uri }}" method="post">
	      <input name="function" type="hidden" value="add-repo"/>
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="modal-title">Add Git Repository</h4>
	      </div>
	      <div class="modal-body">
			  <div class="form-group">
			    <label for="repo-dir">Directory</label>
			    <input type="text" class="form-control" id="repo-dir" name="repo" placeholder="directory name">
			  </div>
			  <div class="form-group">
			    <label for="repo-url">Url</label>
			    <input type="text" class="form-control" id="repo-url" name="repo-url" placeholder="http://...">
			    <p class="help-block">Leave blank for no remote origin or to add origin later.</p>
			  </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <input type="submit" class="btn btn-primary" value="Add Repo">
	      </div>
	    </form>
	  </div>
	</div>
	<div class="list-group">
		{% for repo in repos %}
	  		<a href="view-repo-{{ repo }}" class="list-group-item">{{ repo }}</a>
	  	{% endfor %}
	</div>
  </div>
</div>
<div class="row">
  
  <!-- Users -->
  {% if admin %}
  <div class="col-md-4">
  	<h3>Users</h3>
  	<div class="pad btn-group">
		<a href="add-user" class="btn btn-default">Add User</a>
	</div>
	<div class="list-group">
		{% for item in users %}
	  		<a href="{{item.link}}" class="list-group-item">{{item.name}}</a>
	  	{% endfor %}
	</div>
  </div>
  {% endif %}
</div>

<div class="modal fade" id="upload-modal">
  <div class="modal-dialog">
    <div class="modal-content">
	  <form action="" method="post" enctype="multipart/form-data">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="upload-name"></h4>
	      </div>
	      <div class="modal-body">
			  <div class="form-group">
			  	<div class="input-group">
				  <span class="input-group-addon">Repo</span>
					<select name="repo" class="form-control" {% if active_repo %}readonly{% endif %}>
					  {% for repo in repos %}<option value="{{ repo }}" {% if repo == active_repo %}selected{% endif %}>{{ repo }}</option>
					  {% endfor %}
					</select>
				</div>
			  </div>
			  <div class="form-group">
				  <input name="function" type="hidden" value=""/>
				  Select Files to Upload: <input type="file" name="files" multiple class="pad">
				  <div class="help-block">(You may choose more than one file to upload.)</div>
			  </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<input type="submit" class="btn btn-primary" value="Upload">
	      </div>
	  </form>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
{{ super() }}
<script src="{{ static_uri }}editor.js"></script>
<script>
	$('.upload-modal-btn').click(function(){
		$('#upload-name').text($(this).text());
		$('[name="function"]').val($(this).attr('upload_action'));
		$('#upload-modal').modal('show');
	});
</script>
{% endblock %}