<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>{{ title }}</title>
	<link rel="icon" type="image/png" href="{{ static_uri }}favicon.png" />
	<link rel="stylesheet" href="{{ static_uri }}libs/bootstrap.min.css">
	<link rel="stylesheet" href="{{ static_uri }}signin.css">

    <!--[if lt IE 9]>
      <script src="{{ static_uri }}html5shiv.js"></script>
      <script src="{{ static_uri }}respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
	  {% if errors %}
	  <div class="alert alert-danger">
		{% for error in errors %} <p> {{error}} </p> {% endfor %}
	  </div>
	  {% endif %}
		
      <form class="form-signin" role="form" method="post" action="{{ edit_uri }}">
        <h2 class="form-signin-heading">{{ title }}</h2>
        <input name="username" type="text" class="form-control" placeholder="Username" required autofocus>
        <input name="password" type="password" class="form-control" placeholder="Password" required>
        <a href="{{ reset_password }}">reset password</a>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
      </form>
    </div>
  </body>
</html>
