{% extends "base.html" %}
{% block page_tag %}{{ page_tag }}{% endblock %}
{% block content %}
<form id="form" action="{{ edit_uri }}" method="post" class="pad">
	<input name="function" type="hidden" value="reset-password"/>
	
	<div class="form-group">
		<div class="btn-group">
		  <input type="submit" class="btn btn-default" value="Send"/>
		</div>
	</div>
	<div class="form-group">
		<label for="username-input">Enter your username to recieve a new password</label>
	  	<input type="text" class="form-control" name="username" id="username-input" placeholder="Username" required>
	</div>
</form>
{% endblock %}