{% extends "base.html" %}
{% block page_tag %}{{ page_tag }}{% endblock %}
{% block content %}
<form id="form" action="{{ edit_uri }}" method="post" class="pad">
	<input name="function" type="hidden" value="change-user-password"/>
    <input name="username" type="hidden" value="{{ edit_username }}">
	
	<div class="form-group">
		<div class="btn-group">
		  <input type="submit" class="btn btn-default" value="Save"/>
		</div>
	</div>
	<p><strong>User: {{ edit_username }}</strong></p>
	<div class="row">
	  <div class="col-sm-6 form-group">
	  	<input name="password1" type="password" class="form-control" placeholder="Password" required>
	  </div>
	  <div class="col-sm-6 form-group">
	  	<input name="password2" type="password" class="form-control" placeholder="Repeat" required>
	  </div>
	</div>
</form>
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ static_uri }}editor.js"></script>
{% endblock %}